.container {
  border: solid 2px black;
  padding: 10px;
}

ul {
  list-style: none;
}

.enlace {
  padding: 5px;
  border: solid 4px orange;
  margin: 10px;
}

a {
  text-decoration: none;
}

.divItem {
  border: solid 1px greenyellow;
  padding: 5px;
}

.spanItem {
  padding: 2px;
}